@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
body * {
  font-family: "Open Sans";
  font-weight: 300; }

.cat_wrap {
  min-height: 1em;
  min-width: 1em;
  border: 1px dotted #cef;
  overflow: hidden; }

.cat_group {
  width: 8em;
  float: left;
  margin-right: .5em;
  display: none; }
  .cat_group:first-child {
    display: block; }

.tile {
  font-size: .75em;
  width: 100%;
  height: 6em;
  background-color: #bbb;
  cursor: pointer;
  padding: .5em;
  box-sizing: border-box;
  margin-bottom: .5em;
  color: white; }
  .tile.selected {
    background-color: #58a; }
